h2{
    color: blue;
    text-align: center;
}
p{
    color: green;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: yellow;
    border: 2px solid red;
margin-left: 5%; 
margin-right: 5%;
   padding: 1%;
    padding-top: 2%;
}

img{
    width: 400px;
    height: 400px;
}